.background-none{
  background: none !important;
}
.ms-0{
  margin-left: 0px !important;
}

.ms-2{
  margin-left: 1.5rem !important;
}

.me-0{
  margin-right: 0px !important;
}

.font-regular, .font-regular *{
  font-weight: 400 !important;
}

.font-medium, .font-medium *{
  font-weight: 500 !important;
}

.fs-12{
  font-size: 12px !important;
}

.fs-15{
  font-size: 15px !important;
}

.color-danger{
  color: #E21B1A !important;
}

.color-initiated{
  color: #2651CA !important;
}

.color-completed{
  color: #139B0E !important;
}

.color-progress{
  color: #F68147 !important;
}

.color40Dark{
  color: rgba(0, 0, 0, 0.40);
}

.navbar-horizontal .navbar-brand img {
  height: 52px; 
}

.loginTrBg{
  background: #FFC566;
  position: relative;
  padding: 120px 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loginTrBg::before {
	content: "";
	position: absolute;
	left: -5%;
	right: -5%;
	top: -30%;
	bottom: 50%;
	background: #fff;
	transform: rotate(-5deg);
}

.loginTrBg .loginTrBgIn{
  max-width: 430px;
  flex: 0 0 460px;
  position: relative;
  z-index: 1;
}

.loginTrBg .loginTrBgIn .card {
	background: #fff;
	box-shadow: 0px 3px 6px 2px rgba(0, 0, 0, 0.16);
	border-radius: 0;
	margin: 0;
}

.loginTrBg .loginTrBgIn .card .card-body{
  padding: 40px;
}

.loginTitleWrap{
  margin: 0 0 24px 0;
}

.loginTitleWrap h5{
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 0px 0;
  color: #000;
}

.loginTitleWrap p{
  font-size: 14px;
  font-weight: 400;
  margin: 6px 0 0px 0;
  color:rgba(114, 114, 114, 0.9);
  line-height: 19.5px;
}

.form-group .input-group-alternative {
	border: 0.5px solid rgba(192, 192, 192, 0.4);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	background: #fff;
}

.form-group .input-group-alternative .form-control{
  background: transparent; 
  height: 51px;
}

.form-group .input-group-alternative .input-group-prepend{
  margin-right: 0px;
}

.form-group .input-group-alternative .input-group-prepend .input-group-text{
  background: transparent;
  padding-right: 19px;
}

.form-group .input-group-alternative .input-group-prepend .input-group-text .icon-email{
  font-size: 17px;
}

.form-group .input-group-alternative .input-group-prepend .input-group-text .icon-hide{
  font-size: 18px;
}

.form-group .input-group-alternative .input-group-prepend .input-group-text .icon-show{
  font-size: 14px;
}

.loginTrBg .loginTrBgIn .form-group .input-group-alternative .form-control{
  font-size: 17px;
  font-weight: 400;
  color: #000;
  padding: 0 10px 0 20px;
  text-shadow: none;
}


.loginTrBg .loginTrBgIn .form-group .input-group-alternative .form-control::-ms-input-placeholder { /* Edge 12-18 */
  color:#9B9B9B;
  font-weight: 400;
  font-size: 16px;
  text-shadow: none;
}

.loginTrBg .loginTrBgIn .form-group .input-group-alternative .form-control::placeholder {
  color:#9B9B9B;
  font-weight: 400;
  font-size: 16px;
  text-shadow: none;
}

.loginTrBg .loginTrBgIn .form-group{
  margin: 0 0 20px 0;
}

.customCheckBox{
  position: relative;
}

.customCheckBox input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.customCheckBox label {
	position: relative;
	padding: 0 0 0 28px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.65);
	margin: 0;
  cursor: pointer;
}

.customCheckBox label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 3.7px;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: 0.5px solid rgba(0, 0, 0, 0.5);
	background: transparent;
	transition: 0.25s ease-out;
}

.customCheckBox input[type="checkbox"]:checked + label:before{
  background: #000;
  border-color: #000;
}

.customCheckBox label::after {
	content: "\e915";
	font-family: 'icomoon';
	position: absolute;
	left: 3.4px;
	top: 6.3px;
	color: #fff;
	font-size: 8px;
	font-weight: bold;
  transform: scale(0);
  transition: 0.25s ease-out;
}

.customCheckBox input[type="checkbox"]:checked + label:after{
  transform: scale(1);
}



.customRadioBox{
  position: relative;
}

.customRadioBox input[type="radio"]{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.customRadioBox label {
	position: relative;
	padding: 0 0 0 22px;
	font-size: 14px;
	color: #000;
	margin: 0;
  cursor: pointer;
}

.customRadioBox label::before {
	content: "";
	position: absolute;
	left: 0;
	top: 3.7px;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	border: 1px solid #707070;
	background: transparent;
	transition: 0.25s ease-out;
}

.customRadioBox input[type="radio"]:checked + label:before{
  border-color: #000;
}

.customRadioBox label::after {
	content: "";
	position: absolute;
	left: 3px;
  top: 6.5px;
	background: #000;
	width: 10px;
  height: 10px;
  border-radius: 100px;
  transform: scale(0);
  transition: 0.25s ease-out;
}

.customRadioBox input[type="radio"]:checked + label:after{
  transform: scale(1);
}

.d-flex .customRadioBox + .customRadioBox{
  margin-left: 32px;
}

.actionChekBoxWrap {
	margin: 0 0 0 0;
}

.actionChekBoxWrap .actionChekBox{
  padding: 16px 0px;
  position: relative;
}

.actionChekBoxWrap .actionChekBox + .actionChekBox{
  border-top: 1px solid rgba(194, 194, 194, 0.64);
} 

.actionChekBoxWrap .actionChekBox .customCheckBox label{
 font-size: 15px;
 color: #000;
 font-weight: 700;
 padding: 0 32px 0 0;
 display: block;
 line-height: 30px;
}

.actionChekBoxWrap .actionChekBox .customCheckBox label::before{
  right: 0;
  left: auto;
  width: 24px;
  height: 23px;
}

.actionChekBoxWrap .actionChekBox .customCheckBox label::after{
  left: auto;
	right: 6px;
	top: 0;
}


.textForgot{
  font-size: 13.5px;
  color: #404040;
  text-decoration: none;
}

.textForgot:hover{
  color: #000;
}

.btn{
  border-radius: 5px;
  padding: 11px 18px;
  font-size: 15px;
  font-weight: 500;
}

.btn.btn-sm{
  border-radius: 4px;
  padding: 9px 18px;
  font-size: 15px;
}

.loginTrBg .loginTrBgIn .btn{
  padding: 14px 18px;
  font-size: 15px;
  font-weight: 700;
}

.btn-primary, .btn-outilne-primary{
  min-width: 103px;
}

.loginTrBg .loginTrBgIn .customCheckBox label::before{
  width: 16.43px;
  height: 16.43px;
  top: 3px;
}

.loginTrBg .loginTrBgIn .customCheckBox label::after{
  font-size: 7px;
}

.loginTrBg .loginTrBgIn .customCheckBox input[type="checkbox"]:checked + label::before {
	background: #FFA717;
	border-color: #FFA717;
}

.loginTrBg .loginTrBgIn .customCheckBox label{
  font-size: 14px;
  color: #000000;
  padding: 0 0 0 26px;
}

.linkDark{
  color: #000;
  font-size: inherit;
}

.passcode-area {
  display: flex;
  align-items: flex-start;
}

.passcode-area input{
  flex: 0 0 64px;
  width: 64px;
  height: 62px;
  border: 1px solid #C7C7C7;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  background-clip: padding-box;
}

.passcode-area input + input{
  margin-left: 30px;
}

.fs-12, .fs-12 *{
  font-size: 12px;
}

.successBlock {
	text-align: center;
	margin: 30px 0 0 0;
}

.successBlock .ic{
  margin: 0 0 16px 0px;
}
.successBlock .ic i{
  font-size: 65px;
  color: #3BB50E;
}

.successBlock h4{
  font-size: 29px;
  font-weight: 400;
  color: #000;
  margin: 0 0 4px 0;
  line-height: 1.4;
}

.successBlock p{
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  line-height: 18px;
}

.bg-theme-light {
	background: #FFECCE;
}

.main-content .navbar-top.border-bottom.navbar-dark {
	border-color: rgba(255, 255, 255, 1) !important;
}


.nameTitle{
  font-size: 18px;
  color: #000;
  font-weight: 700;
}

body .navbar-dark .navbar-nav .nav-link {
	color: #000;
}

body .navbar-dark .navbar-nav .nav-link:hover, body .navbar-dark .navbar-nav .nav-link:focus{
  color: #000;
}

body .navbar-dark .navbar-nav .nav-link .icon-header-notification{
  font-size: 18px;
}

body .bg-gradient-primary{
  background: #FFECCE;
}

.pageTitle{
  padding: 24px 0 12px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.pageTitleWrap{
  padding: 24px 0 12px;
}

.pageTitleWrap h5{
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin: 0 0 5px 0;
  line-height: 1.2;
}

.pageTitleWrap p{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  margin: 0px;
  font-weight: 400;
}

.card.card-stats{
  box-shadow: none;
  border-radius: 5px;
  margin-bottom: 16px;
}

.card.card-stats .card-body{
  padding: 32px 24px;
}

.card.card-stats .card-body .row{
  margin-left:-8px;
  margin-right:-8px;
}

.card.card-stats .card-body [class^="col"]{
  padding-left:8px;
  padding-right:8px;
}

.card.card-stats .icon{
  width: 54px;
  height: 54px;
}

.card.card-stats .card-title {
	font-size: 15px;
	font-weight: 400;
	color: #000000;
}

.card.card-stats .h2.font-weight-bold.mb-0{
	font-size: 30px;
	font-weight: 800;
	color: #000000;
  line-height: 1.4;
}

.card.card-stats.cardDarkBlue {
	background: #1C2A4B;
}

.card.card-stats.cardDarkBlue .icon{
  height: auto;
  width: auto;
}

.card.card-stats.cardDarkBlue .icon-onfields-user {
	font-size: 63px;
}

.card.card-stats.cardDarkBlue .card-title{
  color: #fff;
}

.card.card-stats.cardDarkBlue .h2.font-weight-bold.mb-0{
  color: #fff;
}

.whiteContBar {
	background: #fff;
	border-radius: 5px;
	padding: 18px 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.whiteContBar .sectionTitle {
	font-size: 18px;
	color: #343434;
	font-weight: 700;
  margin: 0 10px 0 0;
}

.atpTagsWrap {
	display: flex;
	align-items: center;
}

.atpTagsWrap .atpTag{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  padding:0px 0px;
  border: 1px solid #bfbebe;
  background: #e3e3e3;
  min-width: 208px;
}

.atpTagsWrap .atpTag + .atpTag{
  margin-left: 20px;
}

.atpTagsWrap .atpTag.pendingTag {
	border-color: #F77575;
	background: #FFF1F1;
}

.atpTagsWrap .atpTag.successTag {
	border-color: #1FD368;
	background: #EBFBEC;
}

.atpTagsWrap .atpTag .atpTagLeft {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7.5px 9px 7.5px;
}

.atpTagsWrap .atpTag .atpTagLeft .icon {
	flex: 0 0 auto;
	width: auto;
	height: 35px;
	margin: 0 7px 0 0;
	line-height: normal;
  display: flex;
  align-items: center;
}

.atpTagsWrap .atpTag.successTag .atpTagLeft .icon .icon-circle-tick {
	font-size: 25px;
}

.atpTagsWrap .atpTag .atpTagLeft .icon .circleIc {
	width: 35px;
	height: 35px;
	border-radius: 100px;
	background: #000;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	line-height: normal;
	border: 7.5px solid #ccc;
}

.atpTagsWrap .atpTag.pendingTag .atpTagLeft .icon .circleIc {
  border-color: #F2C0C0;
  background: #E21B1A;
}

.atpTagsWrap .atpTag .atpTagLeft h6 {
	margin: 0px;
	color: #676767;
	font-size: 16px;
	font-weight: 400;
  white-space: nowrap;
}

.atpTagsWrap .atpTag .count{
  font-size: 22px;
  font-weight: 800;
  color: #000000;
  flex: 0 0 50px;
  text-align: center;
  margin:4px 0;
  border-left:1px solid #bfbebe;
  min-width: 50px;
}

.card.hptCard .card-header{
  padding: 22px 30px;
}

.card.hptCard .card-footer{
  padding: 22px 30px;
}

.headnumText {
	display: flex;
	align-items: center;
}

.headnumText .cardHeadNumber {
	flex: 0 0 60px;
	height: 58px;
	border-radius: 5px;
	border: 1px dashed #E19F1D;
	background: #FFC565;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	margin: 0 14px 0 0;
}

.cardTitle h5{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0 0 3px 0;
  line-height: 1.1;
}

.sortingDrop {
	position: relative;
	margin: 0 0 0 7.5px;
	width: 11px;
  height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
}

.sortingDrop::before {
	content: "";
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-bottom: 6px solid #000;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	flex: 0 0 11px;
}

.sortingDrop::after {
	content: "";
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-top: 6px solid #000;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	flex: 0 0 11px;
	margin: 3px 0 0 0;
}

.cardTitle p{
  font-size: 16px;
  font-weight: 400;
  color: #343434;
  margin: 0 0 0px 0;
  line-height: 1.5;
}

.card-header.brBtomlr{
  position: relative;
}

.card-header.brBtomlr::before{
  content: "";
  position: absolute;
  left: 30px;
  right: 30px;
  height: 1px;
  bottom: 0;
  background: #E7E7E7;
}

.card.hptCard .card-header.brBtomlr {
	border-bottom: none;
}

.taskListWrap .taskList:first-child {
	padding-top: 0;
}

.taskList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  position: relative;
}

.profileWrap{
  display: flex;
  align-items: center;
}

.profileWrap .img{
  flex: 0  0 69px;
  width: 69px;
  height: 69px;
  border-radius: 100px;
  margin: 0 12px 0 0;
  overflow: hidden;
}

.profileWrap .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileWrap .cont{
  flex: auto;
}

.profileWrap .cont .name{
  color: #343434;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 3px 0;
}

.profileWrap .cont .task {
	color: #000000;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 3px 0;
}

.profileWrap .cont .date{
  color: #676767;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  margin: 0 0 0px 0;
}

.action-badge {
	padding: 6px 13px;
	min-width: 128px;
	font-size: 15px;
	font-weight: 500;
	border-radius: 5px;
	color: #6f6f6f;
	border: 1px solid #bfbebe;
	background: #e3e3e3;
	display: inline-block;
	vertical-align: top;
  text-align: center;
}

.action-badge:hover {
  background: #000;
  color: #fff;
}

.action-badge.danger, .action-badge.badge-danger {
  border-color: #E21B1A;
  background: rgba(226, 26, 26, 0.16);
  color: #E21B1A;
}

.action-badge.initiated, .action-badge.badge-initiated{
  border-color: #2651CA;
  background: rgba(37, 81, 202, 0.10);
  color: #2651CA;
}

.action-badge.badge-progress{
  border-color: #F68147;
  background: rgba(246, 129, 71, 0.16);
  color: #F68147;
}

.action-badge.badge-approved{
  border-color: #139B0E;
  background: rgba(59, 213, 69, 0.10);
  color: #139B0E;
}


.taskList .profileWrap {margin-right: 16px;}

.cardDropDown select{
  background: #E9E9E9;
  border:1px solid #D8D8D8;
  color: #343434;
  padding: 7px 10px 7.5px;
  border-radius: 4px;
}

.card.hptCard {
	min-height: calc(100% - 30px);
}

.sidenav .sidenav-header .navbar-brand{
  padding: 17px 28px;
  display: block;
}

.hamburgerIcon{
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height:28px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburgerIcon span {
	width: 23px;
	height: 2px;
	background: #5C5C5C;
	border-radius: 2px;
	flex: 0 0 23px;
  position: relative;
}

.hamburgerIcon span::before {
	content: "";
	position: absolute;
	top: -5px;
	width: 17px;
	height: 2px;
	background: #5C5C5C;
	border-radius: 2px;
	right: 0;
  transition: 0.25s ease-out;
}

.hamburgerIcon span::after {
	content: "";
	position: absolute;
	top: 5px;
	width: 20px;
	height: 2px;
	background: #5C5C5C;
	border-radius: 2px;
	right: 0;
  transition: 0.25s ease-out;
}

.hamburgerIcon.closeIc span{
  background: transparent;
}

.hamburgerIcon.closeIc span:before{
  transform: rotate(42deg);
  width: 21px;
  top: 0;
}

.hamburgerIcon.closeIc span::after {
	transform: rotate(-42deg);
	top: 0;
	width: 21px;
}

.navbar-vertical.navbar-expand-xs .navbar-inner {
	padding-left: 0;
	padding-right: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 28px;
  padding-right: 28px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav {
	flex-direction: column;
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
	padding: 10px 14px;
  border-radius: 5px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item > .nav-link.active {
	background: #EFEFEF;
	margin: 0px;	
  padding: 10px 14px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item{
  margin-top: 0px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item:hover{
  background: #EFEFEF;
  border-radius: 5px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .nav-item + .nav-item {
	margin-top: 10px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link > i {
	min-width: 21px;
	margin: 0 10px 0 0;
	font-size: 20px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link > i.icon-atp {
	font-size: 17px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link > i.icon-data-job {
	font-size: 17px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link > i.icon-notification {
	font-size: 18px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link > i.icon-technical-tickets {
	font-size: 19px;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text{
  color:#000000;
  font-size: 15px;
}

.userDetail{
  position: relative;
  display: flex;
  align-items: center;
}

.userDetail .img{
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  border-radius: 100px;
  overflow: hidden;
  margin: 0 8px 0 0;
}

.userDetail .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userDetail .name{
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  margin: 0px;
}

.userDetail .email{
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  line-height: 22px;
  margin: 0px;
}

.actionBtn-wrap{
  display: flex;
  align-items: center;
}

.actionBtn-wrap > a{
  color: #000;
  text-decoration: none;
}

.actionBtn-wrap > a .icon-eye {
	font-size: 15px;
}

.actionBtn-wrap > a .icon-download{
  font-size: 15px;
}

.actionBtn-wrap > a + a{
  margin-left: 15px;
}

.actionBtn-wrap > a + .dropdown{
  margin-left: 8px;
}

.actionBtn-wrap .btn.btn-sm.btn-icon-only {
	padding: 0;
	height: 2rem;
	width: 2.5rem;
	margin: 0;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(0,0,0,0.75);
	font-weight: 400;
	font-size: 17px;
  box-shadow: none;
}

.actionBtn-wrap .btn.btn-sm.btn-icon-only:focus {
  box-shadow: none !important;
}

.min-width135{
  min-width: 135px;
}

.tableSearch{
  position: relative;
  max-width: 323px;
  flex: 0 0 323px;
}

.tableSearch input{
  width: 100%;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #AAAAAA;
  background: #fff;
  padding: 0 40px 0 16px;
  font-size: 15px;
  color: #343434;
}

.tableSearch .searchBtn {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: none;
	height: 36px;
	width: 40px;
	padding: 3px 3px 0 0;
}

.tableSearch .searchBtn .icon-search{
  font-size: 20px;
}

.tableSearchFilterWrap {
	position: relative;
	display: flex;
	align-items: center;
	flex: auto;
	justify-content: flex-end;
	padding: 0 0 0 20px;
}

.tableSearchFilterWrap .btn-primary.btn.btn-sm{
  font-size: 16px;
  padding: 5px 16px 6px;
  margin-left: 14px;
}

.tableSearchFilterWrap .btn-outline-primary.btn.btn-sm{
  font-size: 16px;
  padding: 5px 16px 6px;
  min-width: 103px;
}

.tableSearchFilterWrap .btn-primary.btn.btn-sm .icon-download {
	font-size: 14px;
	margin: 0 0 0 8px;
}

.btn.btn-primary .icon-circle-plus {
	font-size: 19.5px;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 5px;
}

.tableSearchFilterWrap .dropdown.filterDropDown {
	margin: 0 0 0 17px;
	border-left: 0.5px solid #949494;
	padding: 0 0 0 15px;
}

.tableSearchFilterWrap .dropdown.filterDropDown .dropdown-toggle{
  padding: 0px;
  background: none;
  border: none;
  margin: 0;
  width: 32px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  font-size: 13px;
}

.tableSearchFilterWrap .dropdown.filterDropDown .dropdown-toggle::after{
  display: none;
}

.tableSearchFilterWrap .dropdown-menu.filterMenu {
	max-width: 375px;
	min-width: 375px;
	border: 1px solid #E2E2E2;
	box-shadow: 0 3px 8px 0px rgba(0,0,0,.15);
	padding: 0px;
	border-radius: 3px;
}

.tableSearchFilterWrap .menuDropDown {
	margin: 0 0 0 12px;
  position: relative;
}

.tableSearchFilterWrap .menuDropDown select.selectpicker{
  display: none;
}

.tableSearchFilterWrap .menuDropDown .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light {
	display: flex;
	background: #F0F0F0;
	border-radius: 4px;
	border: none;
	padding: 8px 40px 8px 10px;
	color: #000;
	box-shadow: none;
	min-width: 117px;
	align-items: center;
	font-size: 14px;
  position: relative;
  transform: none;
  margin: 0;
}

.tableSearchFilterWrap .menuDropDown .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::before {
	content: "";
	width: 0.5px;
	background: #CBC9C9;
	position: absolute;
	right: 33px;
	top: 4px;
	bottom: 4px;
}

.tableSearchFilterWrap .menuDropDown .dropdown.bootstrap-select .dropdown-menu{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding:  10px 0;
  min-width: 178px;
}

.tableSearchFilterWrap .menuDropDown .dropdown.bootstrap-select .dropdown-menu .dropdown-menu.inner {
	position: static;
	padding: 0;
	min-width: auto;
	box-shadow: none;
	display: block;
	margin: 0;
	float: none;
	border: none;
	background: none;
	color: #343434;
}

.tableSearchFilterWrap .menuDropDown .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::after {
	content: "\e902";
	font-family: 'icomoon' !important;
	border: none;
	font-size: 6px;
	color: #838383;
	width: 35px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
}

.tableSearchFilterWrap .menuDropDown .customDatePop {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 12px 14px;
	min-width: 178px;
	max-width: 178px;
	background: #fff;
	border-radius: 4px;
	position: absolute;
	top: 110%;
	left: 0;
  display: none;
}

.tableSearchFilterWrap .menuDropDown .customDatePop .form-group label{
  font-size:12px;
  margin: 0 0 5px;
}

.tableSearchFilterWrap .menuDropDown .customDatePop .icon-field {
	position: relative;
}

.tableSearchFilterWrap .menuDropDown .customDatePop .icon-field input{
  height: 34px;
  padding: 0 34px 0 11px;
  font-size: 15px;
  color: #7B7B7B;
  font-family: "Lato", sans-serif;
}

.tableSearchFilterWrap .menuDropDown .customDatePop .icon-field .icon-calander {
	position: absolute;
	right: 8px;
	font-size: 15px;
	top: 8.5px;
}

.dropdown-foot, .dropdown-head {
	align-items: center;
	border-bottom: 1px solid rgba(112, 112, 112, 0.3);
	display: flex;
	justify-content: space-between;
	padding: 16px 20px;
}

.dropdown-head .dropdown-title {
	font-size: 14px;
	color: #000000;
	font-weight: 400;
}

.resetPassword .text {
	color: #000;
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
}

.resetPassword .dropClose {
	margin: 0 0 0 8px;
	background: none;
	color: #000;
	border: none;
	padding: 0px;
	font-size: 10px;
	font-weight: bold;
}

.dropdown-body {
	padding: 16px 20px;
}

.select-wrap {
	margin: 0 0 22px 0;
}

.select-wrap label {
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
	font-weight: 400;
	display: block;
	margin: 0 0 5px 0;
}

.select-wrap .form-select {
	font-size: 14px;
	color: #000;
	border: 0.5px solid #AAAAAA;
	border-radius: 4px;
	height: 36px;
	width: 100%;
	background: #fff;
	padding: 2px 13px;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%236f6b7d' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='white' stroke-opacity='0.2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: calc(100% - 4px) center;
	-webkit-appearance: none;
	appearance: none;
}

.card .table td, .card .table th {
	padding-left: 15px;
	padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.card .table td:first-child, .card .table th:first-child {
  padding-left: 28px;
}

.table .thead-light th {
	background-color: #E4E6ED;
	color: #343434;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
}

.table td {
	color: #343434;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
}

.card .detailsTable .table td:first-child, .card .detailsTable .table th:first-child {
	padding-left: 24px;
  border-left: none;
}

.card .detailsTable .table th{
  font-weight: 700;
  font-size: 15px;
  border-left: 0.5px solid #C3C3C3;
  padding-top: 14px;
  padding-bottom: 14px;
}

.card .detailsTable .table td {
  border-left: 0.5px solid #C3C3C3;
  font-size: 15px;
}

.detailsTable .table td .icon-field{
  position: relative;
  max-width: 108px;
}


.detailsTable .table td .icon-field input{
  width: 100%;
  height: 28px;
  font-family: "Lato", sans-serif;
  border: none;
  outline: none;
  padding: 0px;
}

.detailsTable .table td .select-wrap{
  position: relative;
  max-width: 108px;
  margin: 0px;
}

.detailsTable .table td .value {
	height: 28px;
}

.detailsTable .table td .select-wrap select{
  color: #343434;
  font-size: 15px;
  padding: 0 20px 0 0;
  border: none;
  height: 28px;
}

.detailsTable .table td .icon-field .icon-calander{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tabletextellips{
  max-width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tabletextellips.tebleDescription {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: normal;
	max-width: 290px;
}

.showFilter {
	display: flex;
	align-items: center;
}

.showFilter label {
	font-size: 14px;
	margin: 0 10px 0 0;
	color: rgba(0,0,0,0.65);
}

.showFilter select {
	border: 0.5px solid rgba(0,0,0,0.3);
	font-size: 15px;
	border-radius: 4px;
	height: 32px;
	background: #fff;
	padding: 0 11px;
	min-width: 60px;
  color: rgba(0,0,0,0.65);
}

.pagination .page-item .page-link, .pagination .page-item span{
  width: 33px;
  height: 32px;
  border-radius: 3px !important;
  background: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border: none;
}

.pagination .page-item .page-link:hover{
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 1);
}

.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link{
  width: 74px;
}

.pagination .page-item.disabled .page-link {
	color: rgba(0, 0, 0, 0.27);
	pointer-events: none;
	cursor: auto;
	background-color: #F2F2F2;
}

.pagination .page-item.active .page-link{
  box-shadow: none;
  background: #FFC565;
  color: #fff;
}

.chart{
  height: 300px;
}

.linkOverlay{
  color: inherit;
}

.linkOverlay:hover{
  color: inherit;
  text-decoration: none;
}

.linkOverlay::before{
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
}


/* popup css start here */

.modal-dialog.modal-width550{
  max-width: 550px;
}

.modal-dialog.modal-width700{
  max-width: 700px;
}

.modal-dialog.modal-width750{
  max-width: 750px;
}

.modal-dialog.modal-width900{
  max-width:900px;
}

.modal-header{
  padding: 30px 36px 28px;
  border-bottom: 1px dashed #A7A7A7;
}

.modal-body{
  padding: 30px 36px;
}

.modal-footer{
  padding: 30px 36px;
  background: #EFEFEF;
}

.modal-footer > *{
  margin: 0 5px;
}

.modal-header .close {
	padding: 0px;
	margin: 0px;
	width: 28px;
	height: 28px;
	background: #E5E5E5;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	font-size: inherit;
	color: #000;
	opacity: 1;
}

.modal-header .close > span:not(.sr-only) {
	font-size: 12px;
	line-height: 1;
	width: auto;
	height: auto;
	color: inherit;
}

.modal-header .cardTitle h5{
  font-weight: 500;
}

.modal-header .cardTitle p{
  font-size: 15px;
  color: rgba(0, 0, 0, 0.60);
}

/* popup css end here */


/* Fields Overview list css */

.fieldOverviewListWrap{
  position: relative;
}

.fieldOverviewList{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: 0 -10px;
}

.fieldOverviewList .title{
  padding: 12px 10px;
  color: #343434;
  font-weight: 700;
  font-size: 18px;
  list-style: normal;
}

.fieldOverviewListWrap ul{
  padding: 0px;
  margin: 0px;
}

.fieldOverviewListWrap ul li{
  padding: 14px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0px 0px;
  border-top: 0.5px solid #CDCDCD;
}

.fieldOverviewListWrap ul li h5{
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px;
  color: #343434;
  margin: 0;
}

.fieldOverviewListWrap ul li span {
	font-size: 16px;
	min-width: 69px;
	color: #FB3C0A;
	background: #FFC565;
	border: 1.5px dashed #E19F1D;
	font-weight: 700;
	padding: 5px 10px;
	line-height: normal;
	border-radius: 3px;
	text-align: center;
}


/* Breadcrumb css  Start*/

.breadcrumbWrap{
  display: flex;
  align-items: center;
  padding: 28px 0 0px;
}

.breadcrumbWrap .pageTitle{
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  margin: 0px 28px 0 0;
  padding: 0px;
}

.breadcrumbWrap .breadcrumb{
  background: no-repeat;
  padding: 0;
  margin: 0;
  border-radius: 0;
}

.breadcrumbWrap .breadcrumb .breadcrumb-item a, .breadcrumbWrap .breadcrumb .breadcrumb-item span{
  font-size: 15px;
  color: #838181;
  font-weight: 400;
  text-decoration: none;
}

.breadcrumbWrap .breadcrumb .breadcrumb-item + .breadcrumb-item{
  padding-left: 5px;
}

.breadcrumbWrap .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: 5px;
	color: #838181;
	content: "-";
  font-size: 17px;
}

.breadcrumbWrap .breadcrumb .breadcrumb-item a .icon-home, .breadcrumbWrap .breadcrumb .breadcrumb-item span .icon-home{
  font-size: 13px;
}

.breadcrumb-item.active {
	color: #000;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

/* Breadcrumb css  End*/


/* Tabs css  Start*/

.tabsWrap {
	margin: 18px 0 0 0;
}

.tabsWrap .nav-tabs{
  border-bottom: 0.7px solid #CDCDCD;
  margin: 0 0 20px 0;
}

.tabsWrap .nav-tabs button{
  background: none;
  border: none;
  color: #A29C9C;
  font-size: 14px;
  padding: 8px 14px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.tabsWrap .nav-tabs button:first-child{
  padding-left: 0px;
}
.tabsWrap .nav-tabs button:before{
  content: "";
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  height: 2px;
  background: #000;
  transition: 0.25s ease-out;
}

.tabsWrap .nav-tabs button.active{
  color: #000;
  font-weight: 700;
}

.tabsWrap .nav-tabs button:focus{
  outline: none;
  box-shadow: none;
}

.tabsWrap .nav-tabs button.active:before{
  right: 0;
}

.actionNoticeBlock .title{
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 6px 0px;
  color: #000;
}

.actionNoticeBlock .description {
	background: #FFECCE;
	border-radius: 4px;
	padding: 15px 20px;
	font-size: 15px;
	font-weight: 400;
	margin: 0 0 0px 0px;
	color: #000;
}

.textBox {
  display: none;
}

.textBox  .textBoxIn{
 display: block;
 width: 100%;
 border: 1px solid #CECECE;
 padding: 8px 10px;
 border-radius: 4px;
 font-size: 13px;
 color: rgba(114, 114, 114, 0.96);
 line-height: 19px;
 margin: 6px 0 0 0;
}
/* Tabs css  End */

.bgFields .form-group{
  margin: 0 0 24px 0;
}

.bgFields .form-group label{
 font-size: 16px;
 color:rgba(0, 0, 0, 0.9); 
 font-weight: 700;
 margin: 0 0 6px 0;
display: block;
}

.bgFields .form-group input{
  font-size: 15px;
  color:rgba(0, 0, 0, 0.95); 
  font-weight: 400;
  margin: 0 0 0 0;
  height: 45px;
  border-radius: 3px;
  background: #F5F5F5;
  padding: 0 18px;
  width: 100%;
  border: none;
 }

 .bgFields .form-group textarea {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.95);
	font-weight: 400;
	margin: 0 0 0px 0;
	border-radius: 3px;
	background: #F5F5F5;
	padding: 11.5px 18px 11px;
	width: 100%;
	border: none;
	line-height: 21px;
  height: 108px;
}

 .bgFields .form-group .input-text {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.95);
	font-weight: 400;
	margin: 0 0 0px 0;
	border-radius: 3px;
	background: #F5F5F5;
	padding: 11.5px 18px 11px;
	width: 100%;
	border: none;
	line-height: 21px;
}

.taskGroupWrap .secTitle {
  font-size: 16px;
  color:rgba(0, 0, 0, 0.9); 
  font-weight: 700;
  margin: 0 0 7px 0;
  display: block;
}

.taskGroupBg{
  background: #F5F5F5;
  padding: 12px 16px;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

.taskGroupBg.bgDarkGrey {
  background: #E4E5E9;
}

.taskGroupBg .taskGroup {
	flex: 0 0 33.3%;
	display: block;
	padding: 12px 16px;
  position: relative;
  border-top: 1px solid #D9D9D9;
}

.taskGroupBg .taskGroup:nth-child(1), .taskGroupBg .taskGroup:nth-child(2), .taskGroupBg .taskGroup:nth-child(3){
  border-top: none;
}

.taskGroupBg .taskGroup + .taskGroup::before{
  content: "";
  position: absolute;
  left: -10px;
  top: 8px;
  bottom: 8px;
  border-left: 1px dashed rgba(112, 112, 112, 0.41);
  width: 1px;
}

.taskGroupBg .taskGroup:nth-child(4):before, .taskGroupBg .taskGroup:nth-child(7):before{
  display: none;
}

.taskGroupBg .taskGroup label {
	font-size: 15px;
	color: #000;
	margin: 0 0 4px 0;
	line-height: 1.2;
  font-weight: 400;
}

.taskGroupBg .taskGroup .value {
	font-size: 15px;
  font-weight: bold;
	color: #000;
	margin: 0 0 0px 0;
	line-height: 1.2;
}

.taskGroupBg.logsDetails {
	padding: 24px 26px;
}

.taskGroupBg.logsDetails .bgFields .form-group label{
  font-size: 14px;
  margin: 0 0 8px 0;
  color: #000;
}

.taskGroupBg.logsDetails .bgFields .form-group .input-text{
  background: #fff;
  font-size: 14px;
  color: #000;
}

.form-group{
  margin: 0 0 16px 0;
  position: relative;
}

.form-group label{
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 400;
}

.labelTestRight{
  font-size: 12px;
  color: #9B9B9B;
}

.form-group input{
  position: relative;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.form-group textarea{
  position: relative;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  width: 100%;
  height: 74px;
  padding: 10px 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.form-group .select-wrap .form-select{
  height: 40px;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.phoneGroup{
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.phoneGroup span{
 flex: 0 0 44px;
 border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  margin: 2px 0;
}

.form-group .phoneGroup input{
  border: none;
  border-radius: 0px;
}

.successModalContent {
	text-align: center;
}

.successModalContent .tickBgImg{
  background: url('../img/theme/successBg.svg') no-repeat;
  background-size: 203px 174px;
  background-position: top center;
}

.successModalContent .tickBgImg .icon-circle-tick {
	font-size: 75px;
	padding: 42px 0 0 0;
	display: block;
	margin: 0 0 24px 0;
}

.successModalContent .tickBgImg h4{
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 6px 0;
  line-height: 1.2;
  color: #000;
 }

 .successModalContent .tickBgImg p{
  font-size: 17px;
  font-weight: 400;
  margin: 0 0 0px 0;
  line-height: 1.2;
  color:#535353;
 }
 
 .rolesBlock .rolesBlockTitle {
	font-size: 15px;
	color: rgba(0,0,0,0.65);
	font-weight: 400;
}

.rolesBlock .avatar-group .avatar{
 width: 30px;
 height: 30px;
}

.rolesBlock .avatar-group .avatar + .avatar {
	margin-left: -13px;
}

.role-heading h4{
  font-size: 21px;
  font-weight: 500;
  margin: 0 0 2px 0;
  color: #000000;
}

.role-heading .role-edit-modal {
	font-size: 14px;
}

.rolesBlock .text-muted i {
	font-size: 17px;
}

.table-responsive.rolesTable .table tr:first-child td {
  border-top: none;
  padding-top: 2px;
}

.table-responsive.rolesTable .table td {
	padding: 12px 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
}

.d-flex .customCheckBox {
	flex: 1;
}

.taskGroupBg.aptDetailsWrap{
  background: #fff;
  border-radius: 5px;
  padding: 16px 8px;
}

.taskGroupBg.aptDetailsWrap .taskGroup{
  flex: 0 0 25%;
  padding: 8px 24px;
  border-top: none;
}

.taskGroupBg.aptDetailsWrap .taskGroup:nth-child(4):before{
  display: block;
}

.taskGroupBg.aptDetailsWrap .taskGroup:nth-child(1), .taskGroupBg.aptDetailsWrap .taskGroup:nth-child(2), .taskGroupBg.aptDetailsWrap .taskGroup:nth-child(3) {
	border-bottom: none;
}

.bgYello{
  background: #FAEED9;
}

.border-radius4{
  border-radius: 4px;
}

.color-dark {
  color:#000 !important;
}

.fs-14{
  font-size: 14px !important;
}

.atpTextBox.textBox .textBoxIn{
  padding: 14px 18px;
  font-size: 14px;
  color: #000;
  line-height: 21px;
}

.flexTabsWrap .nav-tabs {
	display: flex;
	align-items: center;
	background: #FAEED9;
	border-radius: 2px;
	padding: 6px 9px;
}

.flexTabsWrap .nav-tabs button {
	flex: 1;
	font-size: 15px;
	font-weight: 400;
	border-radius: 3px;
	background: transparent;
	border: none;
	padding: 7px 20px;
	height: 41px;
  box-shadow: none;
  outline: none;
}

.flexTabsWrap .nav-tabs button.active {
  background: #fff;
  font-weight: 700;
}

.table-responsive.bgTable{
  border-radius: 5px;
  border: 1px solid #DADADA;
}

.table-responsive.bgTable .table{
  margin: 0px;
}

.table-responsive.bgTable .table thead tr th {
	background: #E4E5E9;
	font-size: 15px;
	text-transform: none;
	font-weight: 400;
	color: #000;
	padding: 10px 28px;
  border-left: 1px dashed rgba(112, 112, 112, 0.41);
}

.table-responsive.bgTable.tablePadding2 .table thead tr th{
  padding: 10px 12px;
}

.table-responsive.bgTable .table tbody tr td {
	background:transparent;
	font-size: 15px;
	text-transform: none;
	font-weight: 400;
	color: #000;
	padding: 16px 28px;
  border-left: 1px dashed rgba(112, 112, 112, 0.41);
}

.table-responsive.bgTable .table tbody tr td strong{
  font-size: 16px;
}

.table-responsive.bgTable .table thead tr th:first-child {
  border-left: none;
}

.table-responsive.bgTable .table tbody tr td:first-child {
  border-left: none;
}

.empty-notification{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
  padding: 80px 80px;
}

.empty-notification-in .img{
 margin: 0 0 16px 0;
}

.empty-notification-in .cont h5{
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin: 0px;
  text-align: center;
}


.customSelect {
	margin: 0 0 0 0px;
  position: relative;
}

.customSelect select.selectpicker{
  display: none;
}

.customSelect.multiple .dropdown.bootstrap-select.show-tick{
  display: block;
}

.customSelect.multiple .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light {
	display: flex;
	background: #fff;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 8px 14px 8px 14px;
	color: #000;
	box-shadow: none;
	min-width: 117px;
	align-items: center;
	font-size: 14px;
  position: relative;
  transform: none;
  margin: 0;
  font-weight: 400;
  width: 100%;
}

.customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light {
	display: flex;
	background: #fff;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 8px 38px 8px 14px;
	color: #000;
	box-shadow: none;
	min-width: 117px;
	align-items: center;
	font-size: 14px;
  position: relative;
  transform: none;
  margin: 0;
  font-weight: 400;
  width: 100%;
}

.customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::before {
	content: "";
	width: 0.5px;
	background: #CBC9C9;
	position: absolute;
	right: 33px;
	top: 4px;
	bottom: 4px;
}

.customSelect .dropdown.bootstrap-select .dropdown-menu{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding:  10px 0;
  min-width: 220px;
}

.customSelect .dropdown.bootstrap-select .dropdown-menu .dropdown-menu.inner {
	position: static;
	padding: 0;
	min-width: auto;
	box-shadow: none;
	display: block;
	margin: 0;
	float: none;
	border: none;
	background: none;
	color: #343434;
}

.customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::after {
	content: "\e902";
	font-family: 'icomoon' !important;
	border: none;
	font-size: 6px;
	color: #838383;
	width: 35px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 0;
}


.customSelect.multiple .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::before {
  display: none;
}

.customSelect.multiple .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::after{
  display: none;
}

.form-group .dateField{
  position: relative;
}

.form-group .dateField input{
  padding-right: 42px;
}

.form-group .dateField i {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
  color: #000000;
  font-size: 19px;
}

.form-group .dateField i:before {
  color: #000;
}

.actionBtn-wrap .customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light{
  border: 1px solid #8C8787;
  background: rgba(176, 176, 176, 0.10);
  font-weight: 500;
  padding: 8px 32px 8px 12px;
  min-width: 132px;
}

.actionBtn-wrap  .customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::before {
  display: none;
}

.actionBtn-wrap .customSelect .dropdown.bootstrap-select .btn.dropdown-toggle.btn-light::after {
  width: 32px;
}

.navbar-top .notificationDropdown.dropdown-menu{
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 28px 32px 0;
  background: #fff;
  border-radius: 4px;
}

.totalNotification .title{
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin: 0 0 10px 0px;
}

.notificationDropdown .list-group.list-group-flush .list-group-item {
	padding: 20px 0;
	border-bottom: 0.7px solid rgba(198,196,196,0.62);
  background: none;
}

.notificattionTime small{
  font-size: 13px;
  color: #A2A1A1;
}

.notificationDesc {
	font-size: 14px;
	color: #343434;
	margin: 0px;
	line-height: normal;
	padding-right: 62px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}

.notificationWrap .img {
	margin: 0 14px 0 0;
  flex: 0 0 48px;
}

.notificationWrap .cont {
  flex: auto;
}


@media (min-width: 991px) {
/* menu css */

.g-sidenav-pinned .sidenav{
  padding-bottom: 0;
}

.g-sidenav-pinned .sidenav.menuHide {
	bottom: auto;
	overflow: inherit;
}

.g-sidenav-pinned .sidenav.menuHide .navbar-inner{
  display: none;
}

.sideMenuHide .navbar.navbar-top.navbar-expand.navbar-dark.bg-theme-light.border-bottom {
  padding-left: 270px !important;
}

}

@media (min-width: 768px) {
  /* .navbar-vertical .navbar-collapse::before {
    margin: 0.3rem;
  } */
  
}
